// Color variables
$primary-color: rgb(245, 87, 22);
$secondary-color: rgb(25, 25, 35);
$background-color: #202020;
$text-color: #FFFFFF;
$highlight-color: $primary-color;
$shadow-color: rgba(0, 0, 0, 0.4);
$complementary-color: mix($primary-color, $secondary-color, 50%);
$new-color: rgb(67, 138, 196);
$bonus-color: #FFD700; 
